%skeleton-loading{
    opacity:0.7;
    animation:skeleton 1.5s linear infinite reverse ;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
};
@keyframes skeleton{
  0%{
    background-position: -468px 0
}
100%{
    background-position: 468px 0
}
}

